<!DOCTYPE html>
<html lang="{{ meta.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
    {% include "meta.njk" %}
</head>
<body>
    <div hidden>{% iconsprite %}</div>
    <a href="#main" class="sr-skip-link">skip to main content</a>

    <div class="layout" role="document">
        {% include "header.njk" %}
        <main id="main" class="main" tabindex="-1">
            {{ content | safe }}
        </main>
        {% include "footer.njk" %}
    </div>

    <script type="text/javascript" src="{{ '/assets/scripts/main.js' | url }}"></script>
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>
</html>